.addoverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $colorBackgroundOverlay;
  padding: 14px;
  box-sizing: border-box;
}

.addoverlay-form {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 5px 5px;
  background: $colorBackground;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 3px 1px -2px rgba(0,0,0,0.02),0 1px 5px 0 rgba(0,0,0,0.05);
}

.addoverlay-title {
  font-size: $fontSizeTitleBig;
  color: $colorText;
  padding: 10px 0 14px 0;

  .svg-icon {
    margin: 0 0 0 10px;
    fill: $colorText;
    float: right;
    width: 32px;
    height: 32px;
  }
}

.addoverlay-fields {
  position: absolute;
  top: 8px;
  left: 14px;
  right: 14px;
  bottom: 72px;
  overflow-y: auto;

  &:before {
    content: ' ';
    z-index: 2;
    display: block;
    position: fixed;
    top: 22px;
    left: 20px;
    right: 20px;
    height: 18px;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,0) 100%);
  }

  &:after {
    content: ' ';
    z-index: 2;
    display: block;
    position: fixed;
    bottom: 86px;
    left: 20px;
    right: 20px;
    height: 18px;
    background: linear-gradient(to bottom, rgba(238,238,238,0) 0%, #eee 100%);
  }
}

.addoverlay-field {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 0 14px 0;
}

.addoverlay-input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 56px;
  background: $colorThemeText;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid $colorBorder;
  font-size: $fontSizeTextBig;
  color: $colorText;
  text-indent: 40px;

  &.js-error {
    background: $colorThemeLight;
    border-bottom: 1px solid $colorTheme;
  }
}

.addoverlay-icon {
  position: absolute;
  z-index: 2;
  fill: $colorText;
  top: 16px;
  left: 8px;
}

.addoverlay-buttons {
  background: $colorThemeText;
  text-align: right;
  padding: 14px 14px 14px 14px;
  border-top: 1px solid $colorBorder;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
