.feed {
  padding: 64px 0 0 0;
}

.feed-title {
  font-size: 20px;
  color: $colorText;
  margin: 18px 14px 18px 26px;
}

.feed-card {
  margin: 14px 14px 14px 14px;
  border-radius: 2px;
  background: $colorThemeText;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 3px 1px -2px rgba(0,0,0,0.02),0 1px 5px 0 rgba(0,0,0,0.05);
}

.feed-card-line {
  padding: 14px 14px 14px 10px;
  box-sizing: border-box;
  min-height: 72px;
  border-bottom: 1px solid $colorBorder;

  &:last-child {
    border-bottom: 0;
  }
}

.feed-card-line--odd {
  background: $colorBackgroundAlt;
}

.feed-card-line-icon {
  width: 44px;
  height: 44px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 0 0;

  .svg-icon {
    fill: $colorTextLight;
  }
}

.feed-card-toggle {
  width: 44px;
  height: 44px;
  float: right;
  transition: transform 200ms;

  .svg-icon {
    fill: $colorTextLight;
    pointer-events: none;
  }

  &.js-opened {
    transform: rotate(180deg);
  }
}

.feed-card-title {
  font-weight: 400;
  font-size: 16px;
}

.feed-card-text {
  font-weight: 300;
  font-size: 14px;
}

.feed-card-data {
  border: 1px solid $colorBorder;
  border-radius: 2px;
  margin: 16px 0 0 0;
  width: 100%;
  display: none;

  &.js-visible {
    display: block;
  }
}

.feed-card-data-line {
  border-bottom: 1px solid $colorBorder;
  padding: 8px 10px 8px 10px;
  font-weight: 300;
  font-size: 14px;

  &:last-child .feed-card-data-cell {
    border-bottom: 0;
  }
}

.feed-card-data-cell {
  padding: 8px 0 8px 0;
  border-bottom: 1px solid $colorBorder;

  &:first-child {
    width: 52px;
  }

  &:nth-child(2) {
    width: 1%;
    white-space: nowrap;
    padding: 8px 15px 8px 0;
  }

  &:last-child {
    font-weight: 400;
  }

  .svg-icon {
    width: 20px;
    height: 20px;
    fill: $colorTextLight;
    margin: 0 0 0 10px;
  }
}
