.floatingbutton {
  display: none;
  position: fixed;
  right: 14px;
  bottom: 14px;
  width: 56px;
  height: 56px;
  background: $colorTheme;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);

  .svg-icon {
    position: relative;
    z-index: 1;
    fill: $colorThemeText;
    margin: 16px 0 0 16px;
  }

  &.js-visible {
    display: block;
  }
}

.floatingbutton-actions {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
