// Reset

html, body, div, h1, h2, h3, div, span, p, header, section, a {
  margin: 0;
  padding: 0;
}

// Material UI components
// Color: Amber 50

$mdc-theme-primary: #e65100;
$mdc-theme-secondary: #ef6c00;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/icon-button/mdc-icon-button";
@import "@material/typography/mdc-typography";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/elevation/mdc-elevation";
@import "@material/list/mdc-list";
@import "@material/fab/mdc-fab";

// App base

body {
  width: 100%;
  height: 100%;
  background: #eeeeee;
}

.app-main {
  overflow: auto;
  width: 100%;
  height: 100%;
}

// App modules

@import "TopBar/TopBar.scss";
@import "Footer/Footer.scss";
@import "Add/Add.scss";
@import "PageFeed/PageFeed.scss";
@import "PageLog/PageLog.scss";
