.mdc-top-app-bar {
  position: absolute;

  .top-bar--loading {
    animation:spin 2s linear infinite;
  }

  .mdc-top-app-bar__action-item:disabled {
    opacity: 0.5;
  }
}
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
