.page-feed {
  padding: 0;
  background: #ffffff;
  border-top: 1px solid #e0e0e0;

  li {
    border-bottom: 1px solid #e0e0e0;
  }

}

.page-feed-date {
  margin: 15px 15px 15px 15px;
}

.page-feed-add-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
