
.page-add {
  background: #ffffff;
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #e0e0e0;

  .field {
    display: block;
    margin: 0 0 15px 0;
  }

  .has-error {
    background: $field-error-background;
  }
}
