.feed {
  padding: 64px 0 0 0;
}

.feed-stats {
  color: var(--colorTextAlt);
  font-size: var(--fontSizeTextBig);
  text-align: center;
  padding: 10px 0 10px 0;
  background: #fff;
  margin: 0 14px 0 14px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 3px 1px -2px rgba(0,0,0,0.02),0 1px 5px 0 rgba(0,0,0,0.05);
}

.feed-title {
  font-size: var(--fontSizeTitle);
  color: var(--colorText);
  margin: 18px 14px 18px 26px;
}

.feed-card {
  margin: 14px 14px 14px 14px;
  border-radius: 2px;
  background: var(--colorThemeText);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 3px 1px -2px rgba(0,0,0,0.02),0 1px 5px 0 rgba(0,0,0,0.05);
}

.feed-card-line {
  padding: 14px 14px 14px 10px;
  box-sizing: border-box;
  min-height: 66px;
  border-bottom: 1px solid var(--colorBorder);

}
.feed-card-line:last-child {
  border-bottom: 0;
}

.feed-card-line:nth-child(even) {
  background: var(--colorBackgroundAlt);
}

.feed-card-line-icon {
  width: 44px;
  height: 44px;
  padding: 6px 0 0 10px;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 0 0;
}
.feed-card-line-icon .svg-icon {
  fill: var(--colorTextAlt);
}

.feed-card-toggle {
  width: 42px;
  height: 42px;
  float: right;
  transition: transform 200ms;
}
.feed-card-toggle .svg-icon {
  fill: var(--colorTextAlt);
  pointer-events: none;
}

.feed-card-toggle.js-opened {
  transform: rotate(180deg);
}

.feed-card-title {
  font-size: var(--fontSizeTextBig);
}

.feed-card-text {
  color: var(--colorTextAlt);
  font-weight: var(--fontWeightLight);
  font-size: var(--fontSizeText);
}

.feed-card-data {
  border: 1px solid var(--colorBorder);
  border-radius: 2px;
  margin: 16px 0 0 0;
  width: 100%;
}

.feed-card-data-line {
  border-bottom: 1px solid var(--colorBorder);
  padding: 8px 10px 8px 10px;
  font-weight: var(--fontWeightLight);
  font-size: var(--fontSizeText);
}
.feed-card-data-line:last-child .feed-card-data-cell {
  border-bottom: 0;
}

.feed-card-data-cell {
  padding: 8px 0 8px 0;
  border-bottom: 1px solid var(--colorBorder);
}
.feed-card-data-cell:first-child {
  width: 52px;
}
.feed-card-data-cell:nth-child(2) {
  width: 1%;
  white-space: nowrap;
  padding: 8px 15px 8px 0;
}

.feed-card-data-cell:last-child {
  font-weight: var(--fontWeightLight);
}

.feed-card-data-cell .svg-icon {
  width: 20px;
  height: 20px;
  fill: var(--colorTextAlt);
  margin: 0 0 0 10px;
}

